
# development config ('build' subdomain goes to /build, otherwise to /source)
map $subdomain $root_folder {
    default source;
    'build' build;
}

# production config ('debug' subdomain goes to /source, otherwise to /build)
#map $subdomain $root_folder {
#    default build;
#    'debug' source;
#}

server {
    listen 80;
    server_name ~^(?P<subdomain>.+?)?\.?apollo\.dev$;

    charset utf-8;

    # @FIXME update this path with yours
    set $host_path "{{PATH TO APOLLO}}/client";

    # Path for static files
    root $host_path/$root_folder;

    expires -1;

    # opt-in to the future
    add_header "X-UA-Compatible" "IE=Edge,chrome=1";

    location / {
        index index.html;
        try_files $uri /index.html;
    }

    location /api {
        proxy_pass http://localhost:5000;
    }
}
