config.py
.DS_Store
work log.txt

#virtualenv
venv
env

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Intellij Idea
.idea
*.iml

# Frontend generated stuff
.sass-cache
node_modules
Gemfile.lock
static/lib/*
!static/lib/jquery-1.10.2.min.map
static/css/main.css
