<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="loginModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        {% from "security/_macros.html" import render_field_with_errors, render_field %}
        {% include "security/_messages.html" %}
        <form action="{{ url_for('security.login') }}" role="form" class="form-horizontal" method="post" name="login_user_form">
          {{ login_user_form.hidden_tag() }}
          <div class="form-group">
            <label for="loginModalEmail" class="col-sm-4">Email address</label>
            <div class="col-sm-8">
              {{ render_field_with_errors(login_user_form.email) }}
              <!-- <input type="email" class="form-control" id="email" placeholder="Enter email"> -->
            </div>
          </div>

  <!-- {{ render_field_with_errors(login_user_form.remember) }} -->
  <!-- {{ render_field(login_user_form.next) }} -->

          <div class="form-group">
            <label for="loginModalPassword" class="col-sm-4">Password</label>
            <div class="col-sm-8">
              {{ render_field_with_errors(login_user_form.password) }}
              <!-- <input type="password" class="form-control" id="password" placeholder="Password"> -->
            </div>
          </div>
          {{ render_field(login_user_form.submit) }}
          <!-- <button type="submit" class="btn btn-primary">Log in</button> -->
        </form>
        <hr>
        <div class="row">
          <div class="container">
            <p class="text-center">
              Or, log in with one of these services:
            </p>
            <div class="row">
              <div class="col-sm-2 col-sm-offset-4">
                <img src="{{ url_for('static', filename='img/persona_sign_in_red.png') }}"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-sm-offset-4">
                <img src="{{ url_for('static', filename='img/google_sign_in.png') }}"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-sm-offset-4">
                (Twitter)
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-sm-offset-4">
                (Facebook)
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
