{% from "_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<form action="{{ url_for('security.register') }}" role="form" method="post" name="register_user_form" class="join container-small">
  <h1 class="title">Create an account by entering your information below.</h1>
  <a class="signin" href="/login">Already a member?</a>

  {{ register_user_form.hidden_tag() }}

  <!-- TODO the User object doesn't have a username! -->
  <input class="field" placeholder="Username" />

  {{ render_field_with_errors(register_user_form.email, id="registerFormEmail", with_labels=False, class="field", placeholder="me@something.com") }}

  {{ render_field_with_errors(register_user_form.password, id="registerFormPassword", with_labels=False, class="field", placeholder="password") }}

  <label class="terms">
    <input type="checkbox">
    I have read and agree to the terms and conditions.
  </label>

  {{ render_field(register_user_form.submit, class="button") }}
</form>

<br>

<hr>
<div class="row">
  <div class="container">
    <p class="text-center">
      Or, log in with one of these services:
    </p>
    {% include "partials/social_login.html" %}
  </div>
</div>
