<div class="row">
    <div class="social-login-buttons">
        <div class="social-login-button">
            <a href="" class="btn btn-info btn-large">Log in with Facebook</a>
        </div>

        <div class="social-login-button">
            <button class="persona-login-btn btn btn-info btn-large">Log in with Persona</button>
        </div>

        <div class="social-login-button">
            <a href="" class="btn btn-info btn-large">Log in with Google</a>
        </div>
    </div>
</div>
