<div class="researchers">
  <p>Lorem Ipsum</p>
  <p>Curabitur lobortis tortor</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<form class="form form__fieldset" data-ng-submit="submit()">
  <h4 class="form__title">Please fill form below to contact us:</h4>
  <div class="form-group">
    <input type="text" class="form__field" placeholder="Your Name" data-ng-model="contact.name" required />
  </div>
  <div class="form-group">
    <input type="email" class="form__field" placeholder="Your Email" data-ng-model="contact.email" required />
  </div>
  <div class="form-group">
    <textarea class="form__field __full __textarea" placeholder="Your Interest" data-ng-model="contact.interest"></textarea>
  </div>
  <button type="submit" class="button">Contact Us</button>
</form>
