{% extends "base.html" %}

{% block body %}


<div class="privacy">
  <div class="privacy_l nav">
    <ul class="nav_list">
      <li class="active"><a href="#">Privacy Policy</a></li>
      <li><a href="#">FAQs</a></li>
    </ul>
  </div>
  <div class="privacy_r">

    <h2 class="title">Subtitle</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <hr>

    <h2 class="title">FAQs</h2>
    <ul class="privacy_faq collapse">
      <li>
        <h3 class="subtitle">Morbi ornare element erat dignissim</h3>
        <div class="privacy_faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li>
        <h3 class="subtitle">Morbi ornare element erat dignissim</h3>
        <div class="privacy_faq-answer hide">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      </li>
      <li>
        <h3 class="subtitle">Morbi ornare element erat dignissim</h3>
        <div class="privacy_faq-answer hide">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      </li>
      <li>
        <h3 class="subtitle">Morbi ornare element erat dignissim</h3>
        <div class="privacy_faq-answer hide">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      </li>
    </ul>

  </div>
</div>
  
{% endblock %}
