{% extends "base.html" %}

{% block body %}


<div class="researchers">

  <div class="researchers_item layout">
    <div class="layout_left">
      <img src="http://lorempixel.com/g/300/200/abstract" />
    </div>
    <div class="layout_right">
      <h2 class="title">Researcher One</h2>
      <p>Lorem Ipsum</p>
      <p>Curabitur lobortis tortor</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
 
  <div class="researchers_item layout">
    <div class="layout_left">
      <img src="http://lorempixel.com/g/300/200/abstract" />
    </div>
    <div class="layout_right">
      <h2 class="title">Researcher Two</h2>
      <p>Lorem Ipsum</p>
      <p>Curabitur lobortis tortor</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
    
  <div class="researchers_item layout">
    <div class="layout_left">
      <img src="http://lorempixel.com/g/300/200/abstract" />
    </div>
    <div class="layout_right">
      <h2 class="title">Researcher Three</h2>
      <p>Lorem Ipsum</p>
      <p>Curabitur lobortis tortor</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
   
  <hr>

  <div class="layout">
    <div class="layout_left" style="width:300px"></div>
    <div class="layout_right">
      <h2 class="title">Researcher One</h2>
      <p>Lorem Ipsum</p>
      <p>Curabitur lobortis tortor</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

</div>
  
{% endblock %}
