
.button {
  background: #4aafe8;
  color: #fff;
  padding: 8px 22px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-bottom: 5px solid #3d92c1;
  box-shadow: 0 0 6px rgba(0, 0, 0, .4);

  &:hover {
    background: darken(#4aafe8, 5%);
  }
}
