.footer {
  background: #aaa;
  text-align: center;
  padding: 40px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }

  .footer_logo {
    margin-bottom: 30px;
  }

  .footer_social {
    margin-bottom: 30px;

    i {
      background: #444;
      border-radius: 100%;
      padding: 10px;
      font-size: 28px;
      color: #aaa;
      width: 33px;
      text-align: center;
      margin-right: 10px;
      text-indent: 2px;

      &:hover {
        background: #222;
        color: #ccc;
      }
    }
  }

  .footer_nav {

  }

  .footer_text {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
  }
}
