.nav {
  background: #ccc;
  padding: 14px;

  .nav_title {
    color: #000;
    margin: 0 0 22px 0;
    padding: 0 0 12px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ababab;
  }

  .nav_search {
    border: 1px solid #b4b4b4;
    width: 100%;
    margin: 0 0 12px 0;
    padding: 12px 12px 12px 40px;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    background: #fff url('/static/img/search.png') no-repeat;
    background-position: 6px 50%;

    &::placeholder {
      color: #000;
    }
  }

  .nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        padding: 12px 32px;
        color: #000;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        width: 100%;
        display: block;
        box-sizing: border-box;
      }
    
      &.active a {
        background: #a4a4a4;
      }
    }
  }
}
