.data-source {
  height:80px;
  border: 1px black solid;

  margin: 10px 0px;
}

.data-source:hover {
  background-color:rgb(240,240,255);
  cursor: pointer;
}

.data-source-square {
  float:left;
  margin-right:10px;
  border: 1px black solid;
  height:80px;
  width:80px;
}

.collapsed {
  display:none;
}
