.shortwidth {
  width: 80%;
  margin: 0 auto;
}

.jumbotron {
    /* Background image */
    background: url(/static/img/header.jpg) no-repeat;
    background-position-x:50%;
    height:412px;
}

.jumbotron h1 {
    /* Text */
    text-shadow: 3px 2px 1px #000;
    color:white;
}

.jumbotron .signup-btn {
    margin-top: 150px;
}

h2 {
    margin-bottom:20px;
}

h2 .item-num {
    position: relative;
    padding:12px 16px;
    font-size:16pt;
    border:2px solid black;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
}

.row {
    background-color: white;
    margin: 25px 0px 25px 0px;
    padding: 25px 0px 25px 0px;
}

.logo {
  width:200px;
}

.logo-container {
  text-align: center;
}

.sign-in-btns {
  position: relative;
  top:50px;
  text-align: center;
}

.social-login-button {
  margin-bottom:5px;
}

.social-login-buttons {
  text-align: center;
}
