// Helpers
// ==========================================================================

//
// These are single-entity styles that are hard to extract to modules, like
// .clearfix, .pull-left and .hide-text in Twitter Bootstrap
//
%g-clearfix,
.g-clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

%g-hide-text,
.g-hide-text {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &:before {
    @include size(0 150%);
    content: '';
    display: block;
  }
}

%g-hidden,
.g-hidden {
  display: none !important;
  visibility: hidden;
}

%g-invisible,
.g-invisible {
  visibility: hidden;
}

.g-pull-left {
  float: left;
}

.g-pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
