flask
werkzeug
gunicorn
requests
selenium
Flask-CSRF
Flask-SQLAlchemy
Flask-WTF
Flask-SuperAdmin
Flask-Social
Flask-security==1.6.9
Flask-Mail
SQLAlchemy==0.8
mysql-python
flask-runner

# Required by Flask-Social
facebook-sdk
python-twitter
