.dashboard {
  @extend %g-clearfix;
  display: table;
  width: 100%;
}

.service-icon {
  margin-bottom: 24px;
}

.dashboard_stream-list {
  .data-source-label {
    color: #000;
    margin-left: 32px;
    font-size: 16px;
  }
}

.dashboard_l {
  display: block;
  width: 280px;
  display: block;
  margin-right: 20px;
}

.dashboard_r {
  width: 100%;
  display: table-cell;
  vertical-align: top;
}

.dashboard_screenshot {
  margin-bottom: 30px;
}
