.form {

  .title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .toplink {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
  }

  .field {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    background: #ccc;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #666;

    &::placeholder {
      color: #666;
    }
  }

  .checkbox {
    font-size: 13px;
    margin-bottom: 24px;
    display: block;

    input {
      margin-right: 4px;
    }
  }

  .form-group {
    label {
      font-weight: 600;
    }

    .form-control {
      border: 1px solid #aaa;
      border-radius: 1px;
      color: #686868;
    }
  }

  .form-button-right {
    float: right;
    margin-top: 10px;
    font-size: 13px;
  }
}
