.menu {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;

  li {
    display: inline-block;

    &:after {
      content: '';
      border-right: 1px solid #333;
      margin-left: 4px;
    }

    &:last-child:after {
      border-right: none;
    }

    a {
      color: #333;
      margin: 8px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
