<div class="footer">
  <div class="container">
    <div class="footer_logo">
      <a href="#" title="Go to top">
        <img src="/assets/images/logo_small.png" width="40" />
      </a>
    </div>
    <ul class="footer_social">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <ul class="menu">
      <li><a href="/researchers">Researchers</a></li>
      <li><a href="/providers">Health care providers</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="#">Sitemap</a></li>
    </ul>
    <p class="footer_text">Apollo the human data project &copy; 2013 All rights reserved.</p>
  </div>
</div>
