<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" class="service-name" id="serviceModalLabel">Connect to</h4>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img class="service-icon" src="/assets/images/services/{{service.icon}}" width="200" />
      </div>

      <div class="service-connection service-oauth" data-ng-show="service.connect_type=='oauth'">
        <form class="form text-center" role="form">
          <button type="submit" class="button">Connect with oAuth</button>
        </form>
      </div>

      <div class="service-connection service-manual_upload" data-ng-show="service.connect_type=='manual_upload'">
        <form class="form" role="form">
          <div class="form-group">
            <label for="manualUploadFile">Upload your data</label>
            <input type="file" id="manualUploadFile">
          </div>
          <button type="submit" class="button">Upload</button>
        </form>
      </div>

      <div class="service-connection service-scraping" data-ng-show="service.connect_type=='scraping'" data-ng-switch="scrapeState">
        <form class="form" data-ng-switch-when="start">
          <div class="form-group">
            <label for="scrapeEmail">Email address</label>
            <input type="email" class="form-control" data-ng-model="scrapeEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="scrapePassword">Password</label>
            <input type="password" class="form-control" data-ng-model="scrapePassword" placeholder="Password">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" disabled data-ng-model="user.remember"> Remember me</label>
          </div>
          <button type="submit" class="button" data-ng-click="connectStream()">Connect</button>
        </form>
        <form class="text-center form" data-ng-switch-when="pending">
          <p class="uppercase">Connecting...</p>
          <div class="progress progress-striped active">
            <div class="progress-bar button" style="width:40%"></div>
          </div>
        </form>
        <form class="form" data-ng-switch-when="done">
          <div class="form-group">
            <label for="secretAnswer">{{response}}</label>
            <input type="password" class="form-control" id="secretAnswer" placeholder="answer">
          </div>
          <button type="submit" class="button" data-ng-click="scrapeState='finished'">Connect</button>
        </form>
        <center data-ng-switch-when="finished">
          <h2>Connecting...</h2><br>(there should be a graphic here)
        </center>
        <div class="service-scraping-loading"></div>
      </div>

    </div>
  </div>
</div>
