<div class="settings container-small">
  <h1 class="title">Your Data Settings</h1>

  <ul class="collapse">
    <li>
      <label>
        <input type="radio" name="privacySetting" data-ng-model="privacySetting" checked="checked" value="none" />
        <h2 class="subtitle">Do not share data</h2>
      </label>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </li>
    <li>
      <label>
        <input type="radio" name="privacySetting" data-ng-model="privacySetting" value="researchers_partners" />
        <h2 class="subtitle">Share with researchers partners</h2>
      </label>
      <div class="hide">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </li>
    <li>
      <label>
        <input type="radio" name="privacySetting" data-ng-model="privacySetting" value="researchers" />
        <h2 class="subtitle">Share with researchers</h2>
      </label>
      <div class="hide">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </li>
    <li>
      <label>
        <input type="radio" name="privacySetting" data-ng-model="privacySetting" value="all" />
        <h2 class="subtitle">Make fully public</h2>
      </label>
      <div class="hide">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </li>
  </ul>
</div>
