<div class="settings container-small">
  <h1 class="title">Your Data Settings</h1>
  <ul class="collapse">
    <li data-ng-repeat="setting in privacySettings">
      <label>
        <input type="radio"
          name="privacySetting"
          data-ng-model="privacySetting"
          data-ng-click="setPrivacySetting(setting.key)"
          value="{{ setting.key }}"
        />
        <h2 class="subtitle">{{ setting.label }}</h2>
        <div style="font-weight:normal">
          <p>{{ setting.description }}</p>
        </div>
      </label>
    </li>
  </ul>
  <button class="button" data-ng-click="updatePrivacySetting()">Save</button>
</div>
