<p>
  <a onclick="window.location.href='/server/facebook_login'" class="button button-small button-fixed-width button-facebook">
    <i class="fa fa-facebook"></i>
    Log in with Facebook
  </a>
</p>
<p>
  <a onclick="window.location.href='/server/google_login'" class="button button-small button-fixed-width button-google">
    <i class="fa fa-google-plus"></i>
    Log in with Google
  </a>
</p>
<p>
  <a onclick="window.location.href='/server/persona_login'"class="button button-small button-fixed-width button-persona">
    <i class="fa"></i>
    Log in with Persona
  </a>
</p>
