<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!-- Suppress IE compatibility mode - required for Persona -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Apollo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='assets/js/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script>
    <![endif]-->

    <style>
    .logo {
      width:200px;
    }

    .sign-in-btns {
      position: relative;
      top:50px;
    }
    </style>

    {% block head %}
    
    {% endblock %}
  </head>
  <body>
<!--     <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          Apollo
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
      </div>
    </nav> -->
    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"/>
        </div>
        <div class="sign-in-btns col-md-2 col-md-offset-6">
          <a href="#" class="btn btn-primary">
            Sign up
          </a>
          <a href="#" class="btn btn-info">
            Log in
          </a>
        </div>
      </div>
    </div>

    {% block body %}
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='lib/jquery-1.10.2.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

    {% block script_tags %}
    {% endblock %}
  </body>
</html>
