<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!-- Suppress IE compatibility mode - required for Persona -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Apollo: the Human Data Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='assets/js/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script>
    <![endif]-->

    {% block head %}
    
    {% endblock %}
  </head>
  <body>
    <div class="shortwidth">
      <div class="container">
        <div class="row">
          <div class="logo-container col-md-5">
            <a href="{{ url_for('main_page') }}">
              <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"/>
            </a>
          </div>

        <div class="navbar">
          {% if current_user.is_authenticated() %}
            <!-- for debugging -->
            <!-- <div class="sign-in-btns col-md-2">
              <span>
                Hello, <span>{{ current_user.email }}</span>
              </span>
            </div> -->
            <div class="sign-in-btns col-md-5">
              <a data-toggle="modal" href="{{ url_for('dashboard') }}" class="btn btn-info">
                Manage data settings
              </a>
              <a data-toggle="modal" href="{{ url_for('security.logout') }}" class="btn btn-info">
                Log out
              </a>
            </div>
          {% else %}
            <div class="sign-in-btns col-md-5">
              <a data-toggle="modal" href="#signupModal" class="btn btn-primary">
                Sign up
              </a>
              <a data-toggle="modal" href="#loginModal" class="btn btn-info">
                Log in
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      </div>
    </div>


    {% block body %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Apollo: The Human Data Project © 2013 All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% if login_user_form %}
      {% include "partials/login_modal.html" %}
    {% endif %}

    <script src="{{ url_for('static', filename='lib/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% block script_tags %}
    {% endblock %}
  </body>
</html>
