<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!-- Suppress IE compatibility mode - required for Persona -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Apollo: the Human Data Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='assets/js/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/respond.min.js') }}"></script>
    <![endif]-->

    {% block head %}
    
    {% endblock %}
  </head>
  <body>
    {% block toparea %}
    {% endblock %} 


    {% block body %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Apollo: The Human Data Project © 2013 All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% include "partials/login_modals.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='lib/jquery-1.10.2.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

    {% block script_tags %}
    {% endblock %}
  </body>
</html>
