{% extends "base.html" %}

{% block script_tags %}
    <!-- holder.js generates gray placeholder images -->
    <script src="{{ url_for('static',filename='lib/bootstrap/assets/js/holder.js') }}"></script>

    <script src="{{ url_for('static',filename='js/main_page.js') }}"></script>
{% endblock %}

{% block body %}

    <div data-scroll-img="top50" class="jumbotron">
        <div class="container">
            <h1>Take Control Of Your Data</h1>
            <div class="signup-btn col-md-1 col-md-offset-11">
                <a data-toggle="modal" href="#signupModal" class="btn btn-lg btn-primary">Sign up</a>
            </div>
        </div>
    </div>

    <div class="container shortwidth">
        <h2><span class="item-num">1</span> Connect Your Data Streams</h2>

        <div class="row">
            <div class="col-md-3">
                <img data-src="holder.js/260x180" alt="...">
            </div>
            <div class="col-md-3 col-md-offset-5">
                <h3>Thumbnail label</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar lacus mi, in eleifend tortor placerat ac. Vivamus vestibulum ipsum ut ligula facilisis pellentesque. Quisque vitae mauris ipsum. Etiam nec mauris tellus. In interdum, erat vitae rutrum fringilla, nisl ligula vulputate odio, eget adipiscing ligula enim auctor elit. Pellentesque iaculis dapibus nulla luctus placerat. Nullam at suscipit metus.
                </p>
            </div>
        </div>

        <h2><span class="item-num">2</span> Share With Researchers</h2>
        <div class="row">
            <div class="col-md-3">
                <h3>Thumbnail label</h3>
                <p>
                    In volutpat eros molestie, laoreet augue in, molestie nisi. Nulla facilisi. Nunc in lobortis nunc, ut iaculis orci. Donec eget nisl odio. Mauris vel eros nisi. Fusce bibendum pretium augue, nec ornare arcu consequat non. Vivamus sed eros condimentum, volutpat nisi in, fringilla mi. Praesent odio quam, pellentesque in orci commodo, fermentum vestibulum augue. Morbi venenatis felis purus, quis lobortis sapien vulputate nec.
                </p>
            </div>
            <div class="col-md-3 col-md-offset-5">
                <img data-src="holder.js/260x180" alt="...">
            </div>
        </div>

        <h2><span class="item-num">3</span> Get Insights Tailored to You</h2>

        <div class="row">
            <div class="col-md-3">
                <img data-src="holder.js/260x180" alt="...">
            </div>
            <div class="col-md-3 col-md-offset-5">
                <h3>Thumbnail label</h3>
                <p>
                    In volutpat eros molestie, laoreet augue in, molestie nisi. Nulla facilisi. Nunc in lobortis nunc, ut iaculis orci. Donec eget nisl odio. Mauris vel eros nisi. Fusce bibendum pretium augue, nec ornare arcu consequat non.
                </p>
            </div>
        </div>
    </div>

    <div data-scroll-img="bottom50" class="jumbotron">
      <div class="container">
      </div>
    </div>

    {% include "partials/login_modal.html" %}
    {% include "partials/register_modal.html" %}

{% endblock %}
