SERVER_NAME="127.0.0.1:5000"
DEBUG = True
SECRET_KEY = 'super-secret'
SQLALCHEMY_DATABASE_URI = 'mysql://apollo:apollo@127.0.0.1/apollo'
SECURITY_CONFIRMABLE = True
SECURITY_REGISTERABLE = True
SECURITY_RECOVERABLE = True
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USE_SSL = False
MAIL_USE_TLS = True
#MAIL_USERNAME = 'your_gmail_username'
#MAIL_PASSWORD = 'your_gmail_password'
SOCIAL_FACEBOOK = {
    'consumer_key': '712771092084703',
    'consumer_secret': 'd14a6149c359a09a2e8f1e26e816e44c'
}
SOCIAL_GOOGLE = {
    'consumer_key': '20095406660.apps.googleusercontent.com',
    'consumer_secret': 'F1uK1aHxJN3ZpCuKfsJChpGK'
}
