<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Apollo</title>
  <link href="/assets/css/main.css" rel="stylesheet" media="screen">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body data-ng-controller="LayoutController">

  <!-- Content -->
  <div class="header">
    <div class="container">
      <div class="header_l">
        <a href="/"><img width="200" src="/assets/images/logo.png" alt="Apollo" /></a>
      </div>
      <div class="header_r">
        <ul class="header_topnav" data-ng-show="currentUser.authenticated" style="display: none">
          <li><a href="#" class="user">Hello, {{ currentUser.email }}</a></li>
          <li><a href="/account/dashboard" class="button">Dashboard</a></li>
          <li><a href="/account/settings" class="button">Settings</a></li>
          <li><a ng-click="logout()" class="button">Logout</a></li>
        </ul>
        <ul class="header_topnav" data-ng-hide="currentUser.authenticated">
          <li><a class="button" data-ng-click="login()">Sign in</a></li>
          <li><a class="button" data-ng-click="register()">Join</a></li>
        </ul>
        <ul class="menu">
          <li><a href="/researchers">Researchers</a></li>
          <li><a href="/providers">Health care providers</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/privacy">Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="page-title" data-ng-show="title" style="display: none">
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
  </div>
  
  <div class="container" data-ng-show="crumb" style="display: none">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/">{{ crumb }}</a></li>
    </ul>
  </div>

  <div class="container" data-ng-show="notification" style="display: none">
    <div class="alert alert-{{ notification.type }}">{{ notification.message }}</div>
  </div>
  
  <!-- Content -->
  <div class="main container" data-ng-view></div>
  
  <div class="footer">
    <div class="container">
      <div class="footer_logo">
        <a href="#" title="Go to top">
          <img src="/assets/images/logo_small.png" width="40" />
        </a>
      </div>
      <ul class="footer_social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      <ul class="menu">
        <li><a href="/researchers">Researchers</a></li>
        <li><a href="/providers">Health care providers</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
      <p class="footer_text">Apollo the human data project &copy; 2013 All rights reserved.</p>
    </div>
  </div>



<!-- Scripts -->
<script src="/vendor/requirejs/require.js" data-main="/js/main.js"></script>
<script>
  // let Angular know that we're bootstrapping manually
  // https://github.com/angular/angular.js/commit/603fe0d19608ffe1915d8bc23bf412912e7ee1ac
  window.name = "NG_DEFER_BOOTSTRAP!";

  /**
   * configure RequireJS
   * prefer named modules to long paths, especially for version mgt
   * or 3rd party libraries
   */
  loadRequireConfig(function(config) {
    require.config(JSON.parse(config));
  });

  function loadRequireConfig(callback) {
    var xmlhttp = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');

    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        callback(xmlhttp.responseText);
      }
    }

    xmlhttp.open('GET', '/js/config-require.json', true);
    xmlhttp.send();
  }

</script>

</body>
</html>
